.icon {
    font-size: 32px;
    cursor: pointer;
}
.icon-check {
    margin-right: 20px;
}
.icon-check:hover {
    color: var(--color-orange);
}
.icon-check--completed {
    color: var(--color-orange);
}
.todo-text--completed {
    text-decoration: line-through;
}
.todos-list li .icon-delete {
    position: absolute;
    top: -15px;
    right: 15px;
}
.todos-list li .icon-delete:hover {
    color: firebrick;
}

