:root {
  --color-white: #ffffff;
  --color-light-gray: #676f9d;
  --color-middle-gray: #424769;
  --color-background-gray: #2d3250;
  --color-orange: #f9b17a;
}
* {
  margin: 0;
  padding: 0;
  font-weight: 100;
}
body {
  background-color: var(--color-background-gray);
  color: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}